<div class="menu">
  <a href="/">Index </a>
  <% @video.each do |videos| %>
    | <a href="/<%= videos[:id] %>"><%= videos[:title] %></a>
  <% end %>
</div>
<div class="maincontainer">
  <% @video.each do |videos| %>
    <div class="contenttable">
      <br><a class="headings" href="/<%= videos[:id] %>"><%= videos[:title] %></a>
      <strong><%= videos[:sub_title] %></strong>
      <p class="description"><%= videos[:description] %></p>
    </div>
  <% end %>
</div>
